extends layout

block content
  .jumbotron.jumbo-create
    h1.lead Let's Get Started
  form.form-create-dictionary
    input(type="text", placeholder="Language Name")
    input(type="text", placeholder="Ethnologue Code")