//
   Created by kmjosephs on 1/8/16.
extends layout

block content
  form#signup(method="post", action="/user")
    label
    input(type="text", name="firstname", placeholder="First Name")
    input(type="text", name="lastname", placeholder="Last Name")
    input(type="submit", value="Signup")
